<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.peter.coffeekeeper"
    android:versionCode="4"
    android:versionName="release">

    <!-- To access Google+ APIs: -->
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher_circle"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_circle"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name="com.example.peter.coffeekeeper.MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme"
            android:windowSoftInputMode="stateHidden">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.example.peter.coffeekeeper.AddBrew"
            android:parentActivityName="com.example.peter.coffeekeeper.MainActivity"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name="com.example.peter.coffeekeeper.AddRoast"
            android:parentActivityName="com.example.peter.coffeekeeper.MainActivity"
            android:windowSoftInputMode="adjustPan"
            />
        <activity
            android:name="com.example.peter.coffeekeeper.BrewRecipeActivity"
            android:label="Test"
            android:parentActivityName="com.example.peter.coffeekeeper.MainActivity"
            android:windowSoftInputMode="stateHidden|adjustPan" />
        <activity
            android:name="com.example.peter.coffeekeeper.RoastActivity"
            android:parentActivityName="com.example.peter.coffeekeeper.MainActivity" />
        <activity android:name="com.example.peter.coffeekeeper.HelpActivity"
            android:parentActivityName="com.example.peter.coffeekeeper.MainActivity"
            android:theme="@style/AppTheme"/>
    </application>

</manifest>