<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.peter.coffeekeeper"
    android:versionCode="7"
    android:versionName="release">

    <!-- To access Google+ APIs: -->
    <uses-permission android:name="android.permission.INTERNET" />

    <uses-permission android:name="com.android.vending.BILLING" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher_circle"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_circle"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".Controllers.MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme"
            android:windowSoftInputMode="stateHidden">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Controllers.AddBrew"
            android:parentActivityName=".Controllers.MainActivity"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".Controllers.AddRoast"
            android:parentActivityName=".Controllers.MainActivity"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".Controllers.BrewRecipeActivity"
            android:label="Test"
            android:parentActivityName=".Controllers.MainActivity"
            android:windowSoftInputMode="stateHidden|adjustPan" />
        <activity
            android:name=".Controllers.RoastActivity"
            android:parentActivityName=".Controllers.MainActivity" />
        <activity
            android:name=".Controllers.HelpActivity"
            android:parentActivityName=".Controllers.MainActivity"
            android:theme="@style/AppTheme" />
        <activity android:name=".Controllers.ProfileActivity" />
        <activity android:name=".Controllers.RegisterActivity" />

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />

        <activity
            android:name=".Controllers.DiscoverActivity"
            android:label="@string/title_activity_discover"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".Controllers.BrewDetailsActivity"
            android:label="@string/title_activity_brew_details"
            android:parentActivityName=".Controllers.DiscoverActivity"
            android:theme="@style/AppTheme">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.peter.coffeekeeper.Controllers.DiscoverActivity" />
        </activity>
    </application>

</manifest>